<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<system.diagnostics><trace autoflush="true"><listeners><add name="Local" type="Aid.Diagnostics.StoreListener,Aid.Core" initializeData="Destiny=Run\Local.log" traceOutputOptions="DateTime"/></listeners></trace></system.diagnostics>
</configuration>
