<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<!--<add key="Path.Dominancy" value="true"/>-->
		<add key="Trimming" />
		<!--<add key="Smoothing"/>-->
		<!--<add key="Relating"/>-->
		<add key="Path.Margin" value="50" />
		<add key="Path.Main.Regex" value=".*\.gpx" />
		<!--<add key="Path.Main.Regex" value=".*\.gpx|.*\.main\..*|.*\.lead\..*|.*\.base\..*"/>-->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
