<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="Local" type="Aid.Diagnostics.StoreListener,Aid.Core" initializeData="Destiny=Local.log" traceOutputOptions="DateTime" />
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<add key="Doct.Uri" value="doctee://localhost:43200/Action/Analyze?Name=Rana" />
	</appSettings>
</configuration>