<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
	<system.diagnostics>
		<!--<sources>
			<source name="App" switchValue="All"><listeners><add name="Local.log"/></listeners></source>
		</sources>-->
		<trace autoflush="true">
			<listeners>
				<add name="Local" type="Aid.Diagnostics.StoreListener,Aid.Core" initializeData="Destiny=Local.log" traceOutputOptions="DateTime" />
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<add key="Doct.Uri" value="doctee://localhost:43200/Action/Analyze?Name=Rana" />
	</appSettings>
</configuration>